In [122]:
import pandas as pd
import numpy as np


df = pd.read_excel('imovel.xlsx')

In [123]:
# Função de separar 2 números com - e retornar a média 

def calcular_media_intervalo(valor):
    if pd.isna(valor):  
        return 0
    valor = str(valor)
    if '-' in valor:
        partes = valor.split('-')
        var = min([float(parte) for parte in partes]) 
        return var
    return float(valor)

In [124]:
# Arrumar a coluna metragem, quartos, banheiros e vagas

df['metragem'] = df['metragem'].str.replace('Tamanho do imóvel\n', '', regex=False).str.replace('m²', '', regex=False)
df['metragem'] = df['metragem'].apply(calcular_media_intervalo)
df['metragem'] = df['metragem'].astype(float)

df['quartos'] = df['quartos'].str.replace('Quantidade de quartos\n', '', regex=False).fillna(0)
df['quartos'] = df['quartos'].apply(calcular_media_intervalo) 
df['quartos'] = df['quartos'].astype(float) 

df['banheiros'] = df['banheiros'].str.replace('Quantidade de banheiros\n', '', regex=False).fillna(0)
df['banheiros'] = df['banheiros'].apply(calcular_media_intervalo) 
df['banheiros'] = df['banheiros'].astype(float) 

df['vagas'] = df['vagas'].str.replace('Quantidade de vagas de garagem\n', '', regex=False).fillna(0)
df['vagas'] = df['vagas'].apply(calcular_media_intervalo) 
df['vagas'] = df['vagas'].astype(float)

In [125]:
# Separando o IPTU e o condominio do valor e transformando em float

df['condominio'] = df['valor'].str.extract(r'Cond\. R\$ ([\d.,]+)')[0].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float).fillna(0)
df['iptu'] = df['valor'].str.extract(r'IPTU R\$ ([\d.,]+)')[0].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float).fillna(0)
df['valor'] = df['valor'].str.extract(r'R\$ ([\d.,]+)')[0].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)

In [126]:
# normalizando o nomeRua
df['nomeRua'] = df['nomeRua'].fillna('Rua não encontrada').str.capitalize().str.strip()

In [127]:
# Renomeando a coluna metragem
df.rename(columns={'metragem': 'metragem(m²)'}, inplace=True)

In [128]:
# visualização 
display(df)

,metragem(m²),quartos,banheiros,vagas,valor,nomeRua,condominio,iptu
0,530.0,5.0,6.0,0.0,5000000.0,Rua não encontrada,0.0,0.0
1,562.0,0.0,0.0,0.0,285000.0,Rua alice cintra bormam,1476.0,195.0
2,72.0,2.0,2.0,1.0,290000.0,Rua estrela velha,0.0,0.0
3,208.0,0.0,0.0,0.0,100000.0,Rua virtude lopes de freitas,0.0,0.0
4,170.0,4.0,1.0,0.0,350000.0,Rua não encontrada,0.0,0.0
...,...,...,...,...,...,...,...,...
100,360.0,4.0,6.0,8.0,2350000.0,Rua república do iraque,0.0,1375.0
101,70.0,2.0,1.0,1.0,620000.0,Rua sete de outubro,740.0,200.0
102,37.0,0.0,1.0,1.0,223000.0,Rua dona elisa fláquer,400.0,0.0
103,397.0,1.0,8.0,7.0,1300000.0,Rua albertina nascimento,0.0,586.0
104,289.0,3.0,3.0,2.0,498000.0,Rua são luiz gonzaga,0.0,1356.0

In [129]:
# Salvar em um novo excel

df.to_excel('imovel_limpo.xlsx', index=False)